@import '../shared/vars.scss';
@import '../shared/util.scss';

$block-header-height: 16px;

.base {
	@extend .shadow;

	font-size: 12px;
	color: $white0;
	border: 1px solid $black1;
	background-color: $black0;
	box-sizing: border-box;
	font-family: $font;
	display: flex;
	flex-direction: column;
	position: relative;

	button {
		display: inline-block;
		text-decoration: none;
		color: inherit;
		border: none;
		font: inherit;
		padding: 1px 8px;
		outline: none;
		cursor: pointer;
		background-color: $black1;
		user-select: none;
		margin: 0;

		&:not(:first-of-type) {
			margin-left: 1px;
		}
	}

	textarea {
		width: 100%;
		border: none;
		background-color: $black1;
		font: inherit;
		color: inherit;
		height: 100%;
		box-sizing: border-box;
		resize: none;
		outline: none;
		display: block;
		user-select: none;
		border-radius: 0;
	}
}

.math {
	background-color: $black1;
	height: calc(100% - #{$block-header-height} - 5px);
	width: 100%;
}

.math-arg {
	position: absolute;
	background-color: $black1;
	width: 20px;
	left: 2px;
	text-align: center;
}

.textarea-div {
	height: calc(100% - #{$block-header-height});
	padding: 5px;
	box-sizing: border-box;
	position: relative;

	input {
		border: none;
		background-color: $black1;
		font-size: inherit;
		color: $white0;
		width: 100%;
		outline: none;
		box-sizing: border-box;
		margin-bottom: 5px;
		font-family: $font;
	}
}

.math-div {
	@extend .textarea-div;

	padding-left: 24px;
}

.red {
	background-color: $red0 !important;
}

.resizer {
	background-color: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 5px;
	height: 5px;
	cursor: nwse-resize;
}

:global .ms-editor .loader {
	width: 100px !important;
	height: 100px !important;
	top: calc(50% - 65px) !important;
	left: calc(50% - 65px) !important;
}

:global #pendingStrokes {
	* {
		color: red !important;
	}
}

:global #MODEL-viewTransform {
	stroke: $white0;
}
